/*-------------------------------------
 https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius


 border radius

-------------------------------------
*/
$bdlrs: 11px;

.u-bdlrs {
  border-left-radius: $bdlrs;
}

.u-bdlrs-50p {
  border-left-radius: 50%;
}

.u-bdlrs-0 {
  border-left-radius: 0;
}

.u-bdlrs-2 {
  border-left-radius: 2px;
}

.u-bdlrs-4 {
  border-left-radius: 4px;
}

.u-bdlrs-6 {
  border-left-radius: 6px;
}

.u-bdlrs-8 {
  border-left-radius: 8px;
}

.u-bdlrs-10 {
  border-left-radius: 10px;
}

.u-bdlrs-12 {
  border-left-radius: 12px;
}

.u-bdlrs-16 {
  border-left-radius: 16px;
}

.u-bdlrs-20 {
  border-left-radius: 20px;
}

.u-bdlrs-24 {
  border-left-radius: 24px;
}
