/*-------------------------------------
 https://developer.mozilla.org/en-US/docs/Web/CSS/float


 float

-------------------------------------*/

.u-fl-n {
  float: none;
}

.u-fl-l {
  float: left;
}

.u-fl-r {
  float: right;
}
