/*-------------------------------------

 other

-------------------------------------
*/
/* ----- vertical align center ----- */
.u-m-c {
  margin: 0 auto;
}

/* ----- vertical align center ----- */
.u-va-c {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* ----- horizontal align center ----- */
.u-ha-c {
  position: relative;
  left: 50%;
  transform: translateX(-50%)
}

/* ----- text opera 0 ----- */
.u-t-op-0 {
  opacity: 0;
  font-size: 0 !important;
}

/* ----- text indent -99999px ----- */
.u-ti-9999 {
  text-indent: -99999px;
  direction: ltr;
  display: block;
}
