/*-------------------------------------
 https://developer.mozilla.org/en-US/docs/Web/CSS/resize


 resize

-------------------------------------*/

.u-rsz-n {
  resize: none;
}

.u-rsz-b {
  resize: both;
}

.u-rsz-h {
  resize: horizontal;
}

.u-rsz-v {
  resize: vertical;
}
