/*-------------------------------------
 https://developer.mozilla.org/en-US/docs/Web/HTML/Element/table


 table

-------------------------------------*/

/* ----- table-layout ----- */
.u-tbl-a {
  table-layout: auto;
}

.u-tbl-f {
  table-layout: fixed;
}

/* ----- caption-side ----- */
.u-cps-t {
  caption-side: top;
}

.u-cps-b {
  caption-side: bottom;
}

/* ----- caption-side ----- */
.u-ec-s {
  empty-cells: show;
}

.u-ec-h {
  empty-cells: hide;
}
