/*-------------------------------------
 https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration


 text decoration

-------------------------------------*/

/* ----- text-decoration ----- */
.u-td-n {
  text-decoration: none;
}

.u-td-u {
  text-decoration: underline;
}

.u-td-o {
  text-decoration: overline;
}

.u-td-l {
  text-decoration: line-through;
}

.u-td-b {
  text-decoration: blink;
}
