/*-------------------------------------
 http://tobiasahlin.com/spinkit/


 Loading two dots


 Usage:

 <div class="spinner">
     <div class="dot1"></div>
     <div class="dot2"></div>
 </div>

-------------------------------------*/


.spinner {
  margin: 0 auto;
  width: 38px;
  height: 38px;
  position: relative;
  text-align: center;
  animation: rotate 2.0s infinite linear;
}

.spinner.sz-xxs {
  width: 18px;
  height: 18px;
}

.spinner.sz-xs {
  width: 24px;
  height: 24px;
}

.spinner.sz-s {
  width: 36px;
  height: 36px;
}

.spinner.sz-m {
  width: 48px;
  height: 48px;
}

.spinner.sz-l {
  width: 60px;
  height: 60px;
}

.spinner.sz-xl {
  width: 72px;
  height: 72px;
}

.spinner.sz-xxl {
  width: 80px;
  height: 80px;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #707070;
  border-radius: 100%;
  animation: bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0px;
  animation-delay: -1.0s;
}


@keyframes rotate { 100% { transform: rotate(360deg);  }}



@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    
  } 50% { 
    transform: scale(1.0);
    
  }
}

