// -------------------------------------
//
//  input
//
// -------------------------------------


// ----- base ----- //

//WebKit browsers
*::-webkit-input-placeholder
    color: #c7b396
    -webkit-font-smoothing: antialiased

//Mozilla Firefox 4 to 18
*:-moz-placeholder
    color: #c7b396
    -webkit-font-smoothing: antialiased

//Mozilla Firefox 19+
*::-moz-placeholder
    color: #c7b396
    -webkit-font-smoothing: antialiased

//Internet Explorer 10+
*:-ms-input-placeholder
    color: #c7b396
    -webkit-font-smoothing: antialiased





.input, 
.textarea
    color: #555
    font-size: $fz20
    background: #fff
    border: 2px solid #555
    padding: 8px 10px
    margin-bottom: 16px
    width: 100%

    &:focus
        color: #000
        outline: none
        outline: 0
        border-color: #000

    &.is-warn
        border: 2px solid #f00
