@import "../../fondations/variables/font_size.css";
/*-------------------------------------

  Button

-------------------------------------*/

/* ----- base ----- */
.e-btn {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  min-height: 1em;
  outline: 0;
  border: none;
  background-color: #707070;
  color: white;
  margin: 0;
  padding: 0.6em 0.8em 0.5em;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  &.is-dis {
    color: rgba(0, 0, 0, 0.4);
    background: #dcddde;
    cursor: default;
    &:hover {
      color: rgba(0, 0, 0, 0.4);
      background: #dcddde;
      cursor: default;
    }
  }
  &.is-fluid {
    width: 100%;
    box-sizing: border-box;
  }
  /* ----- size ----- */
  &.sz-xxxs {
    -webkit-text-size-adjust: none;
    font-size: $fz9;
  }
  &.sz-xxs {
    -webkit-text-size-adjust: none;
    font-size: $fz10;
  }
  &.sz-xs {
    font-size: $fz12;
  }
  &.sz-s {
    font-size: $fz14;
  }
  &.sz-m {
    font-size: $fz16;
  }
  &.sz-l {
    font-size: $fz18;
  }
  &.sz-xl {
    font-size: $fz20;
  }
  &.sz-xxl {
    font-size: $fz24;
  }
  &.sz-xxxl {
    font-size: $fz28;
  }
}

/* ----- icon ----- */
.icon {
  display: block;
}

.e-btn-icon {
  display: block;
  box-sizing: border-box;
  background-color: #707070;
  cursor: pointer;
  &.is-dis {
    background: #dcddde;
    cursor: default;
    &:hover {
      background: #dcddde;
      cursor: default;
    }
  }
  &.is-sel {
    cursor: default;
  }
  &.is-fluid {
    width: 100%;
    box-sizing: border-box;
  }
  &.bgc-trp {
    background: transparent;
    cursor: default;
  }
/* ----- size ----- */
  &.sz-xxxs {
    width: 38px;
    height: 38px;
    padding: 7px;
  }
  &.sz-xxs {
    width: 38px;
    height: 38px;
    padding: 7px;
  }
  &.sz-xs {
    width: 38px;
    height: 38px;
    padding: 6px;
  }
  &.sz-s {
    width: 40px;
    height: 40px;
    padding: 7px;
    /*icon size 26px*/
    
 
  }
  &.sz-m {
    width: 50px;
    height: 50px;
    padding: 9px;
    /*icon size 32px*/
  }
  &.sz-l {
    width: 62px;
    height: 62px;
    padding: 8px;
    /*icon size 46px*/
 
  }
  &.sz-xl {
    width: 80px;
    height: 80px;
    padding: 12px;
    /*icon size 56px*/
 
  }
  &.sz-xxl {
    width: 100px;
    height: 100px;
  }
  &.sz-xxxl {
    width: 144px;
    height: 144px;
  }
}

/*----- icon text vertical ----- */
.e-btn-icon-text-v {
  cursor: pointer;
  box-sizing: border-box;
  background: #f67373;
  display: inline-block;
  background-color: #707070;
  color: white;
  .icon {
    margin: 0 auto 5px;
  }
  &.bgc-trp {
    background: transparent;
  }
  &.is-sel {
    cursor: default;
  }
  &.sz-s {
    padding: 7px;
    /*icon size 26px*/
 
  }
  &.sz-m {
    padding: 9px;
    /*icon size 32px*/
    
 
  }
}

/* ----- icon text horizonta ----- */
.e-btn-icon-text-h {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  background-color: #707070;
  color: white;
  .icon {
    float: left;
  }
  &.bgc-trp {
    background: transparent;
  }
  &.is-fluid {
    width: 100%;
  }
  &.is-sel {
    cursor: default;
  }
  &.sz-s {
    padding: 7px;
    .text {
      line-height: 26px;
      margin-left: 6px;
    }
  }
}
