// -------------------------------------
//	http://tobiasahlin.com/spinkit/
//
//
//	Loading two dots
//
//
//	Usage:
//
//	<div class="spinner">
//		<div class="dot1"></div>
//		<div class="dot2"></div>
//	</div>
//
// -------------------------------------


.spinner {
  margin: 100px auto;
  width: 38px;
  height: 38px;
  position: relative;
  text-align: center;
  
  -webkit-animation: rotate 2.0s infinite linear;
  animation: rotate 2.0s infinite linear;
}

.spinner.sz-xxs {
  width: 24px;
  height: 24px;
}

.spinner.sz-xs {
  width: 32px;
  height: 32px;
}

.spinner.sz-m {
  width: 38px;
  height: 38px;
}

.spinner.sz-l {
  width: 60px;
  height: 60px;
}

.spinner.sz-xl {
  width: 72px;
  height: 72px;
}

.spinner.sz-xxl {
  width: 80px;
  height: 80px;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #707070;
  border-radius: 100%;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

