// -------------------------------------
//	https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing
//
//
//  box sizing
//
// -------------------------------------


// ----- box sizing  ----- //
.u-bxz-cb
	-moz-box-sizing: content-box
	-webkit-box-sizing: content-box
	box-sizing: content-box

.u-bxz-bb
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box
	box-sizing: border-box
	